html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Merienda+One&display=swap');

/* Utility Styles */
body, 
h1, 
h2, 
h3, 
ul, 
li, 
p, 
a { 
  margin: 0;
  padding: 0; 
}

a { 
  color: inherit; 
  text-decoration: none; 
}

img { 
  max-width: 100%; 
}

html { 
  font-size: 125%; 
}

.wrapper { 
  width: 90%; 
  max-width: 1080px; 
  margin: 0 auto; 
}

/* Variables */

:root {
  --brandPrimary: #AFEDFF;
  --brandSecondary: #FFB0C6;
  --brandTertiary: #9BD694;
  --headingFont: 'Merienda One', cursive;
  --bodyFont: 'Barlow', sans-serif;
}

/* General Styling */

h1 {
  font-family: 'Merienda One', cursive;
  color: #9BD694; 
  margin-bottom: 2rem;
  margin-top: 1rem;
}

body{ 
  text-align: center;
  color: black;
  font-family: 'Barlow', sans-serif;
}

main {
  margin-bottom: 1.5rem;
}


.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

/* Landing page styling */
select {
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #AFEDFF;
  border: 1px solid #FFB0C6;
  font-family: 'Barlow', sans-serif;
}

legend {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 1rem;
  background-color: #9BD694;
  padding: 1rem;
  font-family: 'Barlow', sans-serif;
  -webkit-box-shadow: 4px 1px 28px 12px rgba(255,176,198,0.66); 
  box-shadow: 4px 1px 28px 12px rgba(255,176,198,0.66);
  border: 1px solid #9BD694;
}

button:hover, button:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 1s;
  background: #FFB0C6;
}

option {
  font-family: 'Barlow', sans-serif;
}

/* Result styling */
.saveButton {
  margin-right: 1.5rem;
}

.submitButton {
  margin-bottom: 2rem;
}

li, p, label {
  margin-bottom: 1rem;
}

.resultHeader {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFB0C6;
  height: 50px;
  margin-bottom: 2rem;
  padding: 1rem 0.5rem 2.5rem 0.5rem;
}

.answerForm {
  text-align: left;
  -webkit-box-shadow: 1px 1px 4px 14px rgba(175,237,255,0.66); 
  box-shadow: 1px 1px 4px 14px rgba(175,237,255,0.66);
  padding: 1rem 0rem 1rem 0rem;
}

span {
  margin-right: 1rem;
}

.answerForm, .questionText {
  margin-bottom: 2rem;
}

.questionText {
  color: #9BD694;
}

.questionDifficulty {
  text-transform: capitalize;
}

.allAnswers {
  margin: 0 auto;
}

.answerOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}
.answerInput {
  opacity: 0;
  position: absolute; 
}

.answerInput:focus + label::before {
  box-shadow: 0 0px 8px var(--brandPrimary);
  border: 5px solid black;
}

.answerLabel {
  display: block;
  position: relative;
  cursor: pointer;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.answerLabel > div {
  margin: 0 auto;
}

.answerContainer {
  position: relative;
  text-align: left;
}

.answerInput:hover .radioBox {
  border: 5px solid #fff;
}

.answerLabel::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 6px;
	left: -25px;
  margin: auto;
  background-color: #aaa;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}



.answerInput:checked ~ .answerLabel::before {
  background-color: #00bf72;
}

.answerInput:checked ~ label {
  color: #008793;
}

.resultButtons {
  display: flex;
  justify-content: space-evenly;
}

.revealButton {
  margin-left: 2.5rem;
}
  
fieldset {
  border: none;
}
